* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    /* color: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* border-bottom: 2px solid #ccc; */

}

.header h1 {
    font-size: 46px;
}

.chef {
    height: 100px;
}

.recipe {
    text-align: center;
    letter-spacing: 1px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 80px;
}

/* searches control */

.controls {
    margin-top: 50px;
    /* margin-bottom: 30px; */
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

#searchBox {
    flex: 1;
    min-width: 200px;
    max-width: 300px;
}

.add-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.add-btn:hover {
    background-color: #57ed77;
    color: black;
}

#searchBox {
    border-radius: 10px;
    font-size: large;
    width: 300px;
    padding: 8px;
}

/* recipe collections */
.recipe-collection {
    padding: 30px;
    margin: 0 auto;
    max-width: 1200px;
    border: 2px solid #ccc;
    margin-bottom: 40px;
    margin-top: 40px;
    position: relative;
}

.recipe-collectionContent {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    padding: 20px;

}

/* recipe image */
.card-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}


.recipe-card {
    padding: 20px;
    width: 250px;
    height: 500px;
    letter-spacing: 1px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    line-height: 20px;
    transition: 0.3s ease-in;
}

.recipe-card:hover {
    transition: 0.3s ease-out;
    transform: scale(1.05);
}

.Rimage {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
}

.ingridients {
    color: #57ed77;
}

.ingridients ul,
h3 {
    margin-top: 5px;
}

.price {
    color: red;
    margin-top: 10px;
    margin-bottom: 5px;
}

/* buttons  */
.edit {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.edit:hover {
    background-color: #66b3ff;
    color: black;
}

/* delete btn */
.delete {
    margin: 0 18px;
    margin-top: 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    gap: 10px;
    transition: 0.3s ease-in;
}

.delete:hover {
    background-color: #ff6b81;
    color: black;
}


/* form */
.form {
    margin: auto;
    width: 400px;
    height: 500px;
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

}

#recipeForm {
    margin-top: 40px;
}


#recipeFormPopup {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
    text-align: left;
    position: relative;
    text-align: center;
}

.popup-content label {
    display: block;
    margin: 10px 5px;
    text-align: center;
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.popup-content label {
    display: block;
    margin-bottom: 20px;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

.save-btn {
    margin-top: 80px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.save-btn:hover {
    background-color: #57ed77;
    color: black;
}


/* popup */
.popup {
    margin-bottom: 20px;
    margin-top: 20px;

}


/* footer */
footer {
    background-color: #f8f9fa;
    padding: 30px;
    text-align: center;
    height: 5%;
}

@media (max-width: 768px) {
    .controls {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .add-btn,
    #searchBox {
        width: 100%;
    }

    .recipe-card {
        width: 100%;
        height: auto;
    }

    .Rimage {
        width: 100%;
        height: auto;
    }
}